* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* height: 150px; */
    background-color: yellow;
    margin-bottom: 15px;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

main {
    width: 100%;
    background-color: green;
}

.main-content::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: left;
}

.aside-left {
    /* height: 400px; */
    width: 25%;
    background-color: pink;
}

.content-center {
    /* height: 550px; */
    width: calc(50% - 40px);
    background-color: rebeccapurple;
    margin: 0 20px;
}

.aside-right, .aside-right-bottom {
    /* height: 250px; */
    width: 25%;
    background-color: pink;
}

.aside-right-bottom {
    margin-top: 30px;
}

footer {
    /* height: 100px; */
    background-color: lightblue;
    margin-top: 15px;
}
